.loader {
  display: none;
}

.login_container {
  width: 300px;
  border: 2px solid rgb(127, 124, 124);
  border-radius: 8px;
  padding: 1.5rem;
  margin: auto;
}

.login_title {
  font-size: 2rem;
  margin-bottom: 50px;
  text-align: center;
}

.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 2em 0;
  max-width: 250px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

.pages_division {
  display: flex;
}

.nav_container {
  max-width: 300px;
  background-color: rgba(156, 156, 156, 0.208);
  min-height: 100vh;
}

.navbar_links {
  display: flex;
  flex-direction: column;
}

.navbar_links img {
  max-width: auto;
}

.navbar_links a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin: 20px 20px 0 20px;
}

.navbar_dashboard {
  text-align: center;
}

.dashboard_container {
  width: 100%;
}

.dashboard_title {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}

.dashboard_cards {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem;
  flex-wrap: wrap;
}

.dashboard_card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 25px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 3rem;
}

@media (max-width: 576px) {
  .nav_container {
    max-width: 220px;
  }
}
.contact__button-form {
  display: inline-block;
  background-color: gray;
  color: black;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  transition: 0.4s;
  cursor: pointer;
  border: none;
  outline: none;
}

.contact__button-form:hover {
  background-color: white;
}

.contact {
  padding: 4.5rem 0 1rem;
  text-align: center;
}

.contact__container {
  row-gap: 3rem;
  padding-bottom: 3rem;
  display: grid;
  gap: 1.25rem;
}

.contact__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.contact__info {
  display: grid;
  gap: 1rem;
}

.contact__card {
  background-color: rgb(196, 190, 190);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
}
.contact__card a {
  text-decoration: none;
}

.contact__card-icon {
  font-size: 2rem;
  color: white;
  margin-bottom: 0.25rem;
}

.contact__button:hover .contact__button-icon {
  transform: translateX(0.25rem);
}

.contact__card-title,
.contact__card-data {
  font-size: 1rem;
}

.contact__card-title {
  font-weight: 600;
}

.contact__card-data {
  display: block;
  margin-bottom: 0.75rem;
}

.contact__button {
  color: mediumorchid;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.contact__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background: none;
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: 0.8rem;
  padding: 0.25rem;
  background-color: white;
  z-index: 10;
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .contact__info {
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form {
    width: 360px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 767px) {
  .contact__container {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
/* For large devices */
@media screen and (min-width: 992px) {
  .contact__container {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar_main_link {
  margin: 0 60px 0 60px;
  text-decoration: none;
  color: black;
  text-align: center;
}

.navbar_main_tel {
  margin: 0;
  text-align: center;
}
.navbar_main_tel a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar_main_logo {
  height: 80px;
}

.header_main {
  background-image: url("../img/BG.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
}

.header_content {
  margin: 10rem 0 0 0rem;
}

.header_content_text {
  width: 40%;
  margin-left: 5rem;
}

.header_content_title {
  font-weight: 700;
  font-size: 4.5rem;
  text-align: center;
}

.header_content_subtitle {
  font-weight: 300 italic;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.header_value {
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  justify-content: center;
}
.header_value-number {
  font-size: 2.5rem;
  font-weight: 500;
}
.header_value-plus {
  color: hsl(25deg, 83%, 53%);
  font-size: 2.5rem;
}
.header_value-description {
  display: flex;
  color: hsla(260deg, 1%, 56%, 0.781);
  font-size: 1.3rem;
}

.search-mod {
  width: 70% !important;
}

.form_search {
  background: white;
  padding: 2rem;
  border: solid 3px #e5e6e8;
  border-radius: 60px;
  margin-top: 5rem;
}

.btn-search {
  height: 2.3rem;
}

.btn-details {
  max-width: 50%;
}

.custom-card {
  width: 300px;
}

.images-card {
  width: 320px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-bed {
  background-image: url(../img/bed.png);
  background-size: cover;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.icon-measure {
  background-image: url(../img/measure.svg);
  background-size: cover;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.icon-bath {
  background-image: url(../img/bath.svg);
  background-size: cover;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.services {
  width: 100%;
  min-height: 300px;
  display: flex;
  background: rgb(228, 230, 232);
}
.services .img-disabled {
  display: none;
}
.services .services_photo {
  width: 50%;
  max-height: 300px;
}
.services .services_photo .services_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .services_info {
  width: 50%;
  text-align: justify;
  padding: 2rem;
  margin: auto 0;
}
.services .services_info p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 20px;
  color: black;
}
.services .services_info a {
  font-size: 1.2rem;
  text-decoration: none;
}

.property_details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 15px;
  margin-bottom: 30px;
}

.property_details_info {
  grid-area: 1/1/2/4;
}

.property_details_price {
  padding-left: 50px;
  grid-area: 1/4/3/5;
}
.property_details_price .price_price {
  text-align: start;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.property_details_price .price_title {
  text-align: start;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.587);
}
.property_details_price .price-btn {
  font-size: 1rem;
}

.property_details_description {
  grid-area: 2/1/5/4;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.property_details_description .description_title {
  text-align: start;
  font-size: 2rem;
}
.property_details_description .description_text {
  resize: none;
  border: none;
  width: 100%;
  background: transparent;
}

.property_img {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.property_info {
  border: solid rgba(0, 0, 0, 0.236) 1px;
  border-radius: 25px;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

.internal_form_search {
  background: rgba(255, 255, 255, 0.585);
  padding: 1.5rem;
  border: solid 3px #e5e6e8;
  border-radius: 60px;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  text-align: center;
}
.footer .footer_section {
  max-width: 35%;
}
.footer .footer_menu {
  display: flex;
  flex-direction: column;
}
.footer .footer_link {
  font-size: 1rem;
  color: white;
  margin-top: 6px;
}
.footer .footer_social {
  margin: 0 1rem;
  font-size: 2rem;
}

@media (max-width: 992px) {
  .header_content {
    margin-top: 2rem;
  }
  .header_content_text {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .header_content_title {
    font-size: 3rem;
  }
  .header_content_subtitle {
    font-weight: 300;
  }
}
@media (max-width: 767px) {
  .property_details {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px 5px;
  }
  .property_details_info {
    grid-area: 1/1/2/4;
  }
  .property_details_price {
    grid-area: 1/4/2/6;
  }
  .property_details_description {
    grid-area: 2/1/5/6;
  }
}
@media (max-width: 576px) {
  * {
    font-size: 13px;
  }
  .property_details_info {
    padding-left: 0;
  }
  .search-mod {
    width: 80% !important;
  }
  .header_main {
    background-position: center;
  }
  .description_text {
    width: 100%;
    height: 100%;
  }
  .services {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .services .img-active {
    display: none;
  }
  .services .img-disabled {
    display: block;
  }
  .services .services_photo {
    width: 100%;
  }
  .services .services_photo .services_img {
    width: 100%;
    max-height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .services .services_info {
    width: 100%;
  }
  .contact__info {
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form {
    width: 360px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */